body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

input {
  height: 20px;
}

button {
  padding: 7px 20px ;
  background-color: #4875b1;
  color: #fdffff;
  border-style: none;
}